{% extends 'base.html' %}

{% block title %} books {% endblock %}


{% block body %} 

<h1>Explore Books</h1>

{% if all_books %}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Book Name</th>
            <th scope="col">Genre</th>
            <th scope="col">Author</th>
            <th scope="col">Publication Year</th>   
            <th scope="col">Notes</th>         
            <th scope="col">Added By </th>
            <th scope="col">Date Added</th>
        </tr>
    </thead>

    <tbody>
        {% for book in all_books %}
        <tr>

            <td> {{ book['book_name'] }}</td>
            <td> {{ book['genre'] }}</td>
            <td> {{ book['book_author'] }}</td>
            <td> {{ book['publication_year'] }}</td>
            <td> {{ book['notes'] }}</td>
            <td> {{ book['added_by'] }}</td>
            <td> {{ book['date_added'] }}</td>
            <td>
                <form action="{{ url_for('print_book', book_id=book['_id']) }}" method="POST">
                    <input type="submit" class="btn btn-primary" value="View book" />
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}