{% extends 'base.html' %}

{% block title %} New Books {% endblock %}


{% block body %}

<h3>Add A New Book to the Shelf</h3>
<hr>
<form id="new_book" method="POST" action="{{ url_for('add_book') }}">

    <div class="form-group">
        <label for="book_name"> Book Name: </label>
        <input type="text" id="book_name" name="book_name" class="form-control" required autofocus>
    </div>

    <div class="form-group">
        <label for="genre" class="mr-sm-2">Genre:</label>
        <select name="genre" class="custom-select mr-sm-2">
            <option value="" selected disabled hidden> Choose genre ... </option>
            {% for genre in all_genres %}
            <option value="{{ genre['genre_name'] }}">{{ genre['genre_name'] }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group"> <label for="author"> Author: </label>
        <input type="text" id="author" name="author" class="form-control">
    </div>
    <div class="form-group"> <label for="publication_year"> Publication Year: </label>
        <input type="month" id="publication_year" name="publication_year" class="form-control">
    </div>

    <div class="form-group">
        <label for="notes"> Notes: </label>
        <textarea id="notes" name="notes" class="form-control" rows="5" cols="50">

        </textarea>
    </div>


    <div class="form-group"> <label for=" added_by"> Added by: </label>
        {% if current_user.is_authenticated %}
        <input type="text " name="added_by" class="form-control" value="{{ current_user.username }}" readonly>
        {% endif %}
    </div>

    <div>
        <button type="submit" class="btn btn-secondary">Add New Book</button>

    </div>


</form>
<hr>

<br>

{% endblock %}